<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Selections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let game of loadedGames">
    <ion-radio-group (ionSelect)="onSelectTeam($event, game.id)">
      <ion-list-header>
        <ion-label *ngIf="getDisabled(game.date)">{{ game.bowl.name }} Game Completed</ion-label>
        <ion-label *ngIf="!getDisabled(game.date)">{{ game.bowl.name }}</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-label>{{ game.team1.name }} - {{ game.teamScore1 || 0 }}</ion-label>
        <ion-radio slot="start" value="{{game.team1.id}}" [checked]="getSelectedTeamId(game.id, game.team1.id)" [disabled]="getDisabled(game.date)"></ion-radio>
      </ion-item>

      <ion-item lines="none">
          <ion-label>{{ game.team2.name }} - {{ game.teamScore1 || 0 }}</ion-label>
        <ion-radio slot="start" value="{{game.team2.id}}" [checked]="getSelectedTeamId(game.id, game.team2.id)" [disabled]="getDisabled(game.date)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
