<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>Ranks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let rank of loadedRanks; let i= index">
    <ion-item lines="none">
      {{ rank.rank | rank }}
      <div padding>
          {{ rank.name }}
      </div>
      <ion-badge padding slot="end">{{ rank.points }} pts</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
