<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        See if you can guess the best teams in the Bowl Games! Directions below. 
        <ol>
          <li>Sign-up</li>
          <li>Pick your teams</li>
          <li>Watch Football and enjoy!</li>
        </ol>
        <ion-button type="button" routerLink="/auth" color="primary">
          <ion-label>Login Now!</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
