<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons>
      <ion-title>Game Management: Edit</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button defaultHref="/admin/games"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #editGame="ngForm" (ngSubmit)="onSubmit(editGame)" *ngIf="loadedGame !== undefined">
    <ion-grid>
      <ion-row>
        <ion-col size-md="4" offset-md="4">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Bowl</ion-label>
              <ion-select ngModel="{{ loadedGame.bowlId }}"  name="gameBowl" placeholder="Select Bowl" required>
                <ion-select-option *ngFor="let bowl of loadedBowls" value="{{ bowl.id }}">{{ bowl.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Team 1</ion-label>
              <ion-select ngModel="{{ loadedGame.teamId1 }}" name="gameTeam1" placeholder="Select Team" required>
                <ion-select-option *ngFor="let team of loadedTeams" value="{{ team.id }}">{{ team.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Team 2</ion-label>
              <ion-select ngModel="{{ loadedGame.teamId2 }}" name="gameTeam2" placeholder="Select Team" required>
                <ion-select-option *ngFor="let team of loadedTeams" value="{{ team.id }}">{{ team.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Team 1 Score</ion-label>
              <ion-input ngModel="{{ loadedGame.teamScore1 }}" name="gameScore1" type="number" min="0" max="100"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Team 2 Score</ion-label>
              <ion-input ngModel="{{ loadedGame.teamScore2 }}" name="gameScore2" type="number" min="0" max="100"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Points</ion-label>
              <ion-input ngModel="{{ loadedGame.points }}" name="gamePoints" type="number" min="1" max="5" #rankCtrl="ngModel" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Channel</ion-label>
              <ion-input ngModel="{{ loadedGame.channel }}" name="gameChannel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Date</ion-label>
              <ion-datetime ngModel="{{ loadedGame.date }}" name="gameDate" displayFormat="YYYY-MM-DD" monthValues="1,12" min="{{ dateStart }}" max="{{ dateEnd }}"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Time</ion-label>
              <ion-datetime ngModel="{{ loadedGame.date }}" name="gameTime" displayFormat="HH:mm" minuteValues="0,15,30,45"></ion-datetime>
            </ion-item>
          </ion-list>
          <div text-center>
            <ion-button type="submit" color="primary" expand="block" [disabled]="!editGame.valid">Update Game</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
